// grid
$screen-size: xs, sm, md, lg;
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$min-breakpoints: (
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min
);
