// px2rem
@import 'functions/px2rem.scss';

// grid
$screen-size: xs, sm, md, lg;
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$min-breakpoints: (
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min
);

// slider
$slider-width: px2rem(50);
$slider-height: px2rem(50);
$slider-bg-color: #fff;
$slider-border-color: #c0c0c0;

// range
$range-control-height: px2rem(50);
$range-slider-width: $slider-width;
$range-slider-height: $slider-height;
$range-track-height: px2rem(8);
$range-label-wrap-height: px2rem(30);
$range-slider-bg-color: $slider-bg-color;
$range-slider-border-color: $slider-border-color;
$range-track-bg-color: #d8d8d8;
$range-progress-bg-color: #e0ffff;
$range-progress-bg-color-active: #00bfff;
$range-point-bg-color: #ccc;
$range-point-bg-color-active: #00bfff;
$range-point-border-color: #c0c0c0;
$range-point-border-color-active: #00bfff;
$range-transition-duration: 100ms;

// switch
$switch-slider-margin-left: px2rem(4);
$switch-width: px2rem(100);
$switch-height: px2rem(60);
$switch-border-radius: px2rem(30);
$switch-bg-color: #ccc;
$switch-bg-color-active: #00bfff;
$switch-slider-width: $slider-width;
$switch-slider-height: $slider-height;
$switch-slider-bg-color: $slider-bg-color;
$switch-slider-border-color: $slider-border-color;
$switch-transition-duration: 100ms;