.range {
  &-control {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: $range-control-height;
    .range-slider {
      position: absolute;
      z-index: 2;
      width: $range-slider-width;
      height: $range-slider-height;
      background-color: $range-slider-bg-color;
      border: 1px solid $range-slider-border-color;
      border-radius: 50%;
      cursor: pointer;
      transition: margin-left $range-transition-duration;
    }
    .range-track {
      width: 100%;
      height: px2rem(8);
      background-color: $range-track-bg-color;
    }
    .range-progress {
      &-wrap {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
      }
      &-point {
        position: absolute;
        width: $range-slider-width;
        height: $range-slider-height;
        background-color: $range-point-bg-color;
        border: 1px solid $range-point-border-color;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color $range-transition-duration;
        &.active {
          background-color: $range-point-bg-color-active;
          border-color: $range-point-border-color-active;
        }
      }
      &.active {
        flex-grow: 0;
        background-color: $range-progress-bg-color-active;
      }
      position: absolute;
      z-index: 0;
      flex-grow: 1;
      height: $range-track-height;
      background-color: $range-progress-bg-color;
      transition: width $range-transition-duration;
    }
  }
  &-label {
    &-wrap {
      position: relative;
      display: flex;
      align-items: center;
      height: $range-label-wrap-height;
    }
    position: absolute;
    display: inline-block;
    width: $range-slider-width;
    text-align: center;
  }
}
