.switch {
  &-slider {
    position: absolute;
    width: $switch-slider-width;
    height: $switch-slider-height;
    margin-left: $switch-slider-margin-left;
    border: 1px solid $switch-slider-border-color;
    border-radius: 50%;
    background-color: $switch-slider-bg-color;
    cursor: pointer;
    transition: margin-left $switch-transition-duration;
  }
  &.active {
    background-color: $switch-bg-color-active;
  }
  position: relative;
  display: flex;
  align-items: center;
  width: $switch-width;
  height: $switch-height;
  border-radius: $switch-border-radius;
  background-color: #ccc;
}