<div class="part">
  <h1>Range</h1>
  <h3>default</h3>
  <div class="range">
    <div class="range-control">
      <div class="range-slider"></div>
      <div class="range-track"></div>
      <div class="range-progress active"></div>
      <div class="range-progress-wrap">
        <div class="range-progress-point"></div>
        <div class="range-progress"></div>
        <div class="range-progress-point"></div>
        <div class="range-progress"></div>
        <div class="range-progress-point"></div>
        <div class="range-progress"></div>
        <div class="range-progress-point"></div>
        <div class="range-progress"></div>
        <div class="range-progress-point"></div>
        <div class="range-progress"></div>
        <div class="range-progress-point"></div>
      </div>
    </div>
    <div class="range-label-wrap">
      <span class="range-label">0</span>
      <span class="range-label">20</span>
      <span class="range-label">40</span>
      <span class="range-label">60</span>
      <span class="range-label">80</span>
      <span class="range-label">100</span>
    </div>
  </div>
</div>