$no-gutters: (
  right: 0,
  left: 0
);

.row {
  display: flex;
  width: 100%;
  @include subProperties(margin, (
    right: -15px,
    left: -15px
  ));
}

.row.no-gutters {
  > [class*=col-] {
    @include subProperties(padding, $no-gutters);
  }
  @include subProperties(margin, $no-gutters);
}

%gutter {
  @include subProperties(padding, (
    right: -15px,
    left: -15px
  ));
}

// col and order

@for $i from 1 through 12 {
  @each $size in $screen-size {
    @if $size == 'xs' {
      .col-#{$i} {
        flex: 0 0 percentage($i / 12);
        @extend %gutter;
      }
      .col-order-#{$i} {
        order: $i;
      }
    }
    @else {
      .col-#{$size}-#{$i} {
        @extend %gutter;
        @include query(map-get($min-breakpoints, $size), (
          flex: 0 0 percentage($i / 12)
        ));
      }
      .col-#{$size}-order-#{$i} {
        @include query(map-get($min-breakpoints, $size), (
          order: $i
        ));
      }
    }
  }
}

// offset and order

@for $i from 1 to 12 {
  @each $size in $screen-size {
    @if $size == 'xs' {
      .col-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    @else {
      .col-#{$size}-offset-#{$i} {
        @include query(map-get($min-breakpoints, $size), (
          margin-left: percentage($i / 12)
        ));
      }
    }
  }
}
