.container {
  width: 100%;
  margin: 0;

  @extend .clearfix;
  @include query(map-get($min-breakpoints, 'lg'), (
    width: 960px,
    margin: 0 auto
  ));
}

aside {
  float: left;
  &.right {
    float: right;
  }
}

header {
  width: 100%;
  min-height: 30px;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}

footer {
  width: 100%;
  min-height: 30px;
}
